shamefully-hoist=true
side-effects-cache=false
@jsr:registry=https://npm.jsr.io
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/