[data-a4] {
  box-sizing: border-box;
  width: 210mm;
  height: 297mm;

  padding: 16mm 14mm;
  margin: 0;

  break-after: page;

  text-align: center;
  color: black;
  font-family: "SimSun", "宋体", serif;
  font-size: 10pt;

  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }

  table {
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
  }
}

@media print {
  #root {
    display: none;
  }
  [data-a4] {
    display: block;
  }
}

@page {
  size: A4 portrait;
  margin: 0;
}
